*{
  margin: 0;
}
.App {
  height: 100vh;
  width: 100vw;
  background-blend-mode: multiply;
  background-color: #bdbdbd;
  background-size: cover;
  background-position: center center;
}

.time {
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; 
  margin-top: 30px;
}

.time__time{
  display: flex;
  justify-content: center;
  align-items: center;
}

.greet {
  font-size: 30px;
  text-align: center;
}

.time_clock_icon{
  margin: 5px;
  cursor: pointer;
}

.bg__credit{
  width: 120px;
  bottom: 0;
  right: 0;
  position: fixed;
  text-align: right;
  padding: 10px;
  color: whitesmoke;
}
.bg__credit>p{
  font-size: 12px;
}

.bg__credit__icon{
  padding: 2px;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 300ms;
}
.bg__credit__icon:hover{
  font-size: 20px;
  padding: 0 5px;
  transition-duration: 300ms;
}

.todoList__expanded {
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 10px 0 0 10px;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 1px 0px 1px 1px;  
  box-sizing: border-box;
  display: flex;
  color: whitesmoke;
  width: 350px;
  position: fixed;
  right: 0;
  transition-duration: 300ms;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(25px);
}
.todoList__collapsed {
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  color: whitesmoke;
  width: 350px;
  position: fixed;
  border-radius: 10px 0 0 10px;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 1px 0px 1px 1px;  
  right: 0;
  height: 45px;
  overflow-x: hidden;
  transform: translateX(270px);
  transition-duration: 300ms;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(25px);
}
.todoList__collapsed::-webkit-scrollbar{
  visibility:collapse;
  width: 0;
  height: 0;
}
.todoList__list {
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 0px 0px 0px 5px;
}
.todoList__toggle{
  padding: 10px;
  height: 25px;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
}
.todoshead {
  padding-bottom: 10px;
}
.newtodo, .newquicklinkname, .newquicklinklink {
  background-color: transparent !important; 
  border: none;
  width: 80%;
  color: whitesmoke;
  font-size: 16px;
  border-bottom: 1px solid  lightgrey;
  margin: 5px;
}

.newtodo::placeholder,
.newquicklinkname::placeholder,
.newquicklinklink::placeholder{
  color: lightgrey;
}
.newtodo:focus,
.newquicklinkname:focus,
.newquicklinklink:focus{
  outline: none;
}

.todo {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  text-align: left;
  overflow-y: scroll;
  max-height: 400px; 
  margin-bottom: 10px; 
}
.todo::-webkit-scrollbar{
  visibility: hidden;
}

.todo_item{
  cursor: pointer;
  padding: 5px 18px;
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.todo_item:hover{
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
}
.quicklinks__collapsed{
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  color: whitesmoke;
  width: 350px;
  position: fixed;
  height: 45px;
  overflow-x: hidden;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-radius: 0 10px 10px 0;
  left: 0;
  transform: translateX(-275px);
  transition-duration: 300ms;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(25px);
}
.quicklinks__collapsed::-webkit-scrollbar{
  visibility:collapse;
  width: 0;
  height: 0;
}
.quicklinks__expanded{
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  color: whitesmoke;
  width: 300px;
  position: fixed;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 1px 1px 1px 0px;  
  left: 0;
  border-radius: 0 10px 10px 0;
  transition-duration: 300ms;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(25px);

}
.quicklinks__list {
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 0px 0px 0px 5px;

}
.quicklinks__toggle{
  padding: 10px;
  height: 25px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
.quicklinkshead{
  padding-bottom: 10px;
}
.label_icon{
  display: flex;
}

.linkSubmit{
  background-color: rgba(255,255,255,0.7);
  cursor: pointer;
  border: none;
  width: 80%;
  color: rgb(83, 83, 83);
  font-size: 16px;
  border-bottom: 1px solid  lightgrey;
  margin: 5px;
  padding: 5px;
  border-radius: 30px;
  transition-duration: 300ms;
}
.linkSubmit:hover{
  background-color: rgba(255,255,255,1);
}
.quicklinks{
  padding-top: 10px;
}
.quicklink_item{
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.quicklink_favicon{
  height: 18px;
}
.link{
  text-align: left;
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.quicklink_item:hover{
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
}

.quicklink_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 1s;
}
.time_icon{
  display: none; 
}
.time:hover .time_icon{
  display: block;
}
.time:hover .ok{
  display: none;
}